

.navDiv{
	/*width: 20%;*/
	/*border: 1px solid gray;*/
	/*background-color: lightblue;*/
	opacity: .9;
	margin-right: auto;
	margin-left: auto;
	/*text-align: center;*/
}

.nav{
		border: 1px solid gray;
	background-color: #3d434c;

}

.homeButton{
	background-color: white
}

body{
	/*background-color: gray;*/
}


.goalListContainer{
		/*border: 1px solid gray;*/
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		    margin-top: 10vh;

}

.goalName{
	text-align: center;
	font-size: 36pt;
	height: 10vh;
}

.goalNameButton{
	margin-left: 8vw !important;
	z-index: 100 !important
}

.goalNameButtonName{
	font-size: 4vmin;
	
}
.goalNameButtonName span{
	width: 50%;
	display: inline-flex;
	justify-content: center
}
.goalList{
		/*width: 40%;*/
		/*border: 1px solid gray;*/
		margin-left: auto;
		margin-right: auto;
		    margin-bottom: 10vh;
}

	.goalList ul{
		list-style: none;
		padding-left: 0;
	}
	.goalList ul div{
		text-align: center;
	}
.goal{
		border: 1px solid gray;
}
.goalForm{

		/*border: 1px solid gray;*/
	
}


.mileContainer{
	/*border: 1px solid gray;
    /*width: 60%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin-bottom: 2vh;

}
.mileCont{
	text-align: center !important;
}
.mileLabel{
	text-align: center;
	font-size: 20pt


}

.mileTitle{

}
.mileDesc{

}

.mile{



}
.mileDiv{
	/*text-align: center;*/
	/*border: 1px solid black;*/
	/*width: 80%;*/
	/*height: 23vh;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	/*display: flex;*/
	/*justify-content: space-around;*/
	/*align-items: center;*/
	/*margin-top: 2vh;*/
	/*-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);*/
	/*-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);*/
	/*box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);*/
}

.mileDone span{
	text-decoration: line-through;
}


.mileDiv span{
	margin-right: 1vw;
	margin-left: 1vw;
}


.mileButtonContainer{
	width: 33%;
	display: inline-flex;
	justify-content: center;
}

.addMileContainer{
	text-align: center !important;
}
.addMile{
	margin-left: auto;
	margin-right: auto;
}

.stepList{
	display: flex;
	width: 100%;
	flex-flow: row wrap;
}
.step{
	flex-basis: 20%;
	border:1px solid black;
	height: 20vw;
	width: 20vw;
	max-width:180px;
	max-height: 180px;
	min-width: 125px;
	font-size: 3vmin;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

}
.step span{
	margin-left: 1vw;
	margin-right: 1vw;

}

.stepTrue{
	text-decoration: line-through; 
}


